<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script>
        $.ajax({
            async: false,
            url: 'http://localhost:3000/api',
            method: 'post',
            success: function(data){
                console.log(data);
            }
        });
    </script>
  </body>
</html>
